#id_user_name {color:#FAFAFA; align-content: center; float: right; margin-right: 5px; align-self: center; margin-top: 6px}

/*#btn_logout {color:#05D5F7; margin-left: 5px; text-decoration: underline; }*/