@media (min-width: 768px) {
    .navbar-expand-md .dropright.submenu .nav-link {
        padding: 0;
    }
}
@media (min-width: 576px) {
    .navbar-expand-md .dropright.submenu .nav-link {
        padding: 0
    }
}
.dropdown-item.submenu {
    .dropdown-menu {
        margin-left: 0;
    }
}

html {
    font-family: 'EB Garamond';
}

:root {
    --font-family-sans-serif: 'EB Garamond';
}

body {
    font-family: 'EB Garamond';
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 20%;
}
.sidebar-collapsed {
    width: 5%;
}

.main-content-expanded {
    width: 95%;
}

.main-content-colapse {
    width: 80%;
}


/* Menu item*/
#sidebar-container .list-group a {
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    padding-left: 60px;
    font-size: 0.7rem;
}

#sidebar-container .list-group .sidebar-submenu a.lvl-1 {
    padding-left: 35px;
    font-size: 0.9rem;
}

.sidebar-submenu {
    font-size: 1.1rem;
}

#sidebar-container {
    font-size: 1.1rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator-content {
    background-color: #333;
    height: 35px;
    padding-left: 35px;
    font-size: 0.9rem;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.no-display {
    display: none;
}

.background-login {
    background-image: url("/images/bg_login.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    .card {
        background-color: transparent;
        border: none;
    }
    > .row.justify-content-end {
        height: 638px;
    }

    .navbar-brand {
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .login-title {
        position: absolute;
        top: 25px;
        right: 25px;
        color: #0044cc;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.background-performance {
    background-image: url("/images/bg_login.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    margin: -24px;
    .card {
        background-color: transparent;
        border: none;
    }
    > div {
        height: 638px;
    }
}

.background-trainning {
    background-image: url("/images/bg_trainning.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    margin: -24px;
    .card {
        background-color: transparent;
        border: none;
    }
    > div {
        height: 638px;
    }
}

.background-hrm {
    background-image: url("/images/bg_hrm.jpg");
    background-repeat:   no-repeat;
    height: 100%;
    background-position-x: center;
    > div {
        height: 400px;
    }
    .card {
        background-color: transparent;
        border: none;
    }
}
