@media (min-width: 768px) {
    .navbar-expand-md .dropright.submenu .nav-link {
        padding: 0;
    }
}
@media (min-width: 576px) {
    .navbar-expand-md .dropright.submenu .nav-link {
        padding: 0
    }
}
.dropdown-item.submenu {
    .dropdown-menu {
        margin-left: 0;
    }
}

html {
    font-family: 'EB Garamond';
}

:root {
    --font-family-sans-serif: 'EB Garamond';
}

body {
    font-family: 'EB Garamond';
}
