@media (min-width: 768px) {
    .navbar-expand-md .dropright.submenu .nav-link {
        padding: 0;
    }
}
@media (min-width: 576px) {
    .navbar-expand-md .dropright.submenu .nav-link {
        padding: 0
    }
}
.dropdown-item.submenu {
    .dropdown-menu {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100%;
    }
}
@media print {
    @page {
        size: a4 landscape;
    }

}
.container {
    margin: 0 auto;
}
.card-body {
    .table th, .table td {
        padding: 0 !important;
    }
}
